@using Microsoft.Ajax.Utilities
@model Intent

@{
  ViewBag.Title = "Details";
}
<h2>@Model.content</h2>
<div>
  <hr />
  @Html.ActionLink("Add new response", "Create",
    "Respons", new { id = Model.id }, null)
  <dl class="dl-horizontal">

    <dt>
      Available responses:
    </dt>
    @foreach (var el in Model.Responses)
    {
      <dd>
        @el.content | @Html.ActionLink("Edit", "Edit",
                        "Respons", new { id = el.id }, null)
      </dd>
    }

  </dl>
</div>
<br /><br /><br />
<p>
  @Html.ActionLink("Back to List", "Index")
</p>
